[data-bs-theme=dark] {
    --bs-body-bg: #000!important;
}
.card {
    --bs-card-bg: #141A30!important;
    

}

:root [data-topbar=dark], [data-bs-theme=light] [data-topbar=dark] {
    --bs-header-bg: #141A30!important;

}
.form-control {
    background-color:#2A2F4D!important;
}
.btn-primary{
    --bs-btn-bg: #3241FF;
}
.table>:not(caption)>*>* {
    color: #fff!important;

}

[data-bs-theme=dark][data-sidebar=dark] {
    --bs-sidebar-dark-bg:  #141A30!important;
}
.table{
    --bs-table-bg:#141A30!important;
    ;
}
.nav-tabs-customs .nav-item .nav-link.active {
    background-color: #3241FF!important; 
    color: #fff!important;
    
    
   
}
.btn-width{
    min-width:100px!important;
    text-align: center!important;
   

}
.border-radius-button{
    
    border: none!important;
    padding:5px!important;
    --bs-card-spacer-y: 1rem!important;

}
.bg-light-gray{
    border: 1px solid #79747E!important;
    background: #2A2F4D!important;
    ;
}